.btn {
	width:144px;
	height:34px;
	margin-left:20px;
	background-color: #FFFFFF;
	border-width: 2px;
	border-color: #000000;
	border-radius: 0px;
	color: black;
	text-align: center;
	font-size: 12px;
	font-weight:bold;
	transition: 0.2s;
	outline:none;
	margin-left:2px;
}
.btn:hover {
	background-color: #000000;
	color: white;
}

label{
	font-size:3px;
    display: table-cell;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	border:1px solid;
	border-color: #888888;
	color: #888888; 
	background-color: #FFFFFF;
	width: 35px;
	height: 35px;
	outline:none;
	float:left;
	margin-left:5px;
}
input[type="radio"]:checked + label{
    border: 2px solid black;
	color: black;
}

input[type="radio"]{
  visibility: hidden;
  height: 0;
  width: 0;
}
table,th,td{
	margin-left:30px;
	font-size:10px;
}


#shopcart{
	border-style: solid;
	border-width:1px;
	border-color:#222222;
	left:65%;
	position:absolute;
	display:none;
	width:295px;
	height:295px;
	background-color:white;
}